section {
    display: grid;
    grid-template-columns: 1fr 190px;
    grid-row-gap: 12px;
    padding: 20px 8px 0;
}

label {
    grid-column: 1 / 2;
}

input, .dropdown {
    grid-column: 2 / 3;
}

#result, #days-quantity, #average {
    text-align: center;
}

#result {
    font-weight: bold;
}
